
@{ Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        :root {
            --main-bg-color: #17a2b8;
            --main-border-radius: 5px 5px 5px 5px;
        }

        a:hover {
            background-color: var(--main-bg-color);
            border-radius: var(--main-border-radius);
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-primary" id="navbar-theme">
        <!--768 pixel'e kadar top navbar görünür durumda-->
        <div class="collapse navbar-collapse">
            <a style="background-color: transparent;" class="navbar-brand" href="/Home/Index">FORUM TECHNORA</a>
            <ul class="navbar-nav mx-auto">
                <!--sağ ve sol margin'ler auto center-->
                <li class="nav-item active">
                    <a class="nav-link" href="/Home/Index">Ana Sayfa</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Home/News">Haber</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Home/Posts">Paylaşımlar</a>
                </li>
            </ul>
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-moon-fill" viewBox="0 0 16 16">
                <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z" />
            </svg>
            <label class="switch my-auto right mr-3">
                <input type="checkbox" id="checkbox">
                <span class="slider round"></span>
                <br />
                <span style="font-weight:bold; font-size:10px;">Gece modu</span>
            </label>
            <form class="form-inline">
                <input class="form-control" type="search" placeholder="Forum Technora'da ara...">
                <button class="btn btn-info" type="submit">Ara</button>
            </form>
            @if (Session["UserName"] == null)
            {
             <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/Login/Login">Giriş yap</a>
                </li>
            </ul> 
            }
            else
            { 
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Kullanıcı
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a class="dropdown-item" href="/UserProfile/UserProfile">Profil</a></li>
                <li><a class="dropdown-item" href="#">Ayarlar</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/Login/LogOut">Çıkış yap</a></li>
            </ul>
        </div>
            } 
        </div>
    </nav>
    <br />
    <br />
    <br />
    <div>
        @RenderBody()
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/Content/ToggleButton.css" />
    <script src="~/Scripts/ToggleButton.js"></script>
</body>
</html>
